@charset "UTF-8";
/* CSS Document */

*, *:after, *:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	font-size:16pt;
}

.hero {
	background:url(../img/coffeebeans.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
	font-family: 'Anton', sans-serif;
	text-transform:uppercase;
}

.nobkgdcolor {
	background-color:white;
}

h1 {
	color:white;
	margin-top:31.25rem !important;
	padding-bottom:12.5rem;
	letter-spacing:.09375rem;
}

nav ul li a:hover {
	color:#B74226;
}

p, li, cite {
	font-family: 'Economica', sans-serif;
}

.wrapper {
	width:71.112%;
	margin:0 auto;
}

.pull-right {
	float:right !important;
}
.overflow {
	overflow:auto;
}


nav ul {
	color:white;
	text-align:center;
	margin-top:1rem;
	padding-left:0;
}

nav ul li {
	margin-left:6.25rem;
	display:inline-block;
	text-transform:uppercase;
}

nav ul li:first-child {
	margin-left:3.5rem;
}

.extraordinary {
	padding-left:5rem;
	padding-bottom:6.25rem;
}

.right-align {
	text-align:right;
	
}

.padding-none {
	padding-left:0;
}

.caps {
	text-transform:uppercase;
}

.ninety-eight {
	font-size:2.25rem;
}

.our-roasts {
	text-align:center;
}

.center {
	text-align:center;	
}

.margin-left {
	margin-left:5.3125rem;
}

.margin-top {
	margin-top:6.25rem;
}

.house {
	margin-top:.6rem;
}

.sunrise {
	margin-top:1.8rem;
}

.ltspacing {
	word-spacing:.1875rem;
	font-size:1.2rem;
}

.map {
	margin-left:18.75rem;
	
}

form {
	font-family: 'Economica', sans-serif;
}

input {
	display:block;
}

label {
	display:block;
}

.button {
	padding-top:.75rem !important;
	font-size:2rem;
	height:4.375rem;
	width:8.75rem;
	font-family: 'Anton', sans-serif;
	text-transform:uppercase;
	border-style:solid;
	border-color:#B74226;
	border-width:thin;
}

.seas {
	font-size:1.8rem;
}

.body {
	line-height:1.875rem;
}

.right {
	margin:100px 0 0 0;
}

nav {
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.45);
	width:100%;
}

.blockquote {
	text-transform:uppercase;
	line-height:1.75rem;
	color:#B4B4B4;
	margin-top:-.4375rem;
	padding-right:2.1875rem;
}
blockquote {
	margin:0;
}

.flwrcoffee {
	float:right;
}

.roaster {
	margin-top:2.625rem;
}

.spoon {
	margin-top:16.875rem;
	margin-left:-8rem;
}

cite {
	text-transform:uppercase;
}

h1 {
	margin-top:16.25rem;

}

h2 {
	text-align:center;
	font-size:5.125rem;
	letter-spacing:2.5px;
	word-spacing:.9375rem;
	color:black;
}

footer {
	background-color:rgba(0,0,0,0.45);
}

h3 {
	font-size:2rem;
}

h4 {
	letter-spacing:.0625rem;
	font-size:2rem;
	margin-bottom:0;
	padding-bottom:0 !important;
}

.top {
	margin-top:10px;
}

.bottom {
	margin-bottom:.625rem;
} 

.text-center {
	text-align:center;
}

.ptop {
	padding-top:0 !important;
}

.tone {
	font-size:1.5rem;
}

.dotted {
	border-color:white;
	border-style:dashed;
}

.center-block {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.center-img {
	display:block;
}

.img-responsive {
	width:100%;
}

.img-responsivemap {
	width:130%;
}

.img-responsiveroast {
	width:262%;
}

.img-responsiveroasttwo {
	width:262%;
}

.img-responsiveold {
	width:46%;
}

.img-responsivecup {
	width:51.8%;
}

.img-responsive-package {
	width:62%;
}

.img-responsive-package-2 {
	width:63%;
}

.img-responsive-package-3 {
	width:61%;
}

.img-responsive-package-4 {
	width:77%;
}

.img-responsive-package-5 {
	width:77%;
}

nav a {
	text-decoration:none;
	color:white;
}

li {
	display:inline-block;
}


#roasts a {
	text-decoration:none;
	color:white;
	border: 1px solid  #B74226;
	padding:10px 32px 10px 32px;
	font-family: 'Anton', sans-serif;
	font-size:1.8rem;
}

#roasts a:hover {
	text-decoration:none;
	border-width:thick;
	border: 4px solid  #B74226;
	font-family: 'Anton', sans-serif;
}

.row {
	width:100%;
	padding-bottom:1.25rem;
}

.blackbg {
	background-color:black;
	padding-top:3.125rem;
}

.blackbg p, .blackbg h1, .blackbg h2, .blackbg h3, .blackbg h4 {
	color:white;
	text-align:center;
	padding:1rem;
}

footer ul {
	padding-top:1.875rem;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

body {
	font-family: 'Oswald', sans-serif;
}

h1 {
	color:white;
}

textarea {
	width:15rem;	
	margin-top:.1875rem;
}

label, input {
	display:block;
	letter-spacing:.025rem;
}

label {
	color:white;
}


input {
	width:15rem;
}

form {
	float:left;
	background-color:#000000;
	width:20rem;
	padding:1.5625rem 2.25rem 3.1875rem 2.5rem;
}
#firstName {
	margin:3px 0 10px 0;
}
#lastName {
	margin:3px 0 10px 0;
}
#emailAddress {
	margin:3px 0 10px 0;
}

#submit {
	margin:3px 0 10px 0;
}

footer a {
	color:black;
	text-decoration:none;
}

.bean {
	margin-top:2.5rem;
	margin-left:9.375rem;
}

.tufeed {
	width:80%;
	height:14rem;
	background-color:white;
	float:right !important;
}

.twfeed {
	width:80%;
	height:14rem;
	background-color:white;
	margin-bottom:3.75rem;
}

.cup {
	margin-top:2.5rem;
}

[class*='col-'] {
	float:left;
	
}

[class*='col-']:last-of-type {
	padding-right:0;
}

.col-1-1 {
	width:100%;
}

.col-8-12 {
	width:80%;
}

.col-1-2 {
	width:50%;
}

.col-1-3 {
	width:33.3333%;
}

.col-1-4 {
	width:25%;	
}

.col-1-5 {
	width:20%;	
}
.col-1-6 {
	width:16.6666%;	
}
.col-1-7 {
	width:14.2857%;	
}
.col-1-8 {
	width:12.5%;	
}
.col-1-9 {
	width:11.1111%;	
}
.col-1-10 {
	width:10%;	
}
.col-1-11 {
	width:9.0909%;	
}
.col-1-12 {
	width:8.3333%;	
}

@media screen and (max-width:768px) {
.wrapper {
	width:95%;
	margin:0 auto;
}


.buydirect {
	width:70%;
	float:none !important;
	margin-left:auto;
	margin-right:auto;
	
}

.spoon {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
	margin-top:5rem;
}

nav ul li {
	margin-left:3.25rem;
	display:inline-block;
	text-transform:uppercase;
}

.img-responsiveroast {
	width:130%;
	float:none !important;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
}

.img-responsivemap {
	width:75%;
	float:none !important;
	margin-left:auto;
	margin-right:auto;
	margin-top:3rem;
}

form {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.img-responsiveroasttwo {
	width:100%;
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.twfeed {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.tufeed {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.cup {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.col-1-1 {
	width:100%;
}
.col-1-2 {
	width:100%;
}

.col-1-3 {
	width:70%;
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.cntr {
	text-align:center !important;
}

.tufeed {
	margin-bottom:3rem;
}
.sub {
	padding-top:2rem;
}

.col-1-4 {
	width:70%;	
}

.col-1-5 {
	width:50%;	
}
.col-1-6 {
	width:33.33%;	
}
.col-1-7 {
	width:25%;	
}
.col-1-8 {
	width:25%;	
}
.col-1-9 {
	width:25%;	
}	
.col-1-10 {
	width:25%;	
}
.col-1-11 {
	width:25%;	
}
.col-1-12 {
	width:25%;	
}
}