@charset "UTF-8";
/* CSS Document */

*, *:after, *:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	font-size:16pt;
}

.hero {
	background:url(../img/coffeebeans.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4 {
	font-family: 'Anton', sans-serif;
	text-transform:uppercase;
}

.nobkgdcolor {
	background-color:white;
}

h1 {
	color:white;
	margin-top:500px !important;
	padding-bottom:200px;
	letter-spacing:1.5px;
}

nav ul li a:hover {
	color:#B74226;
}

p, li, cite {
	font-family: 'Economica', sans-serif;
}

.wrapper {
	width:71.112%;
	margin:0 auto;
}

.pull-right {
	float:right !important;
}
.overflow {
	overflow:auto;
}


nav ul {
	color:white;
	text-align:center;
	margin-top:1rem;
	padding-left:0;
}

nav ul li {
	margin-left:100px;
	display:inline-block;
	text-transform:uppercase;
}

nav ul li:first-child {
	margin-left:3.5rem;
}

.extraordinary {
	padding-left:5rem;
	padding-bottom:6.25rem;
}

.right-align {
	text-align:right;
	
}

.padding-none {
	padding-left:0;
}

.caps {
	text-transform:uppercase;
}

.ninety-eight {
	font-size:36px;
}

.our-roasts {
	text-align:center;
}

.center {
	text-align:center;	
}

.margin-left {
	margin-left:5.3125rem;
}

.margin-top {
	margin-top:100px;
}

.house {
	margin-top:.6rem;
}

.sunrise {
	margin-top:1.8rem;
}

.ltspacing {
	word-spacing:3px;
	font-size:1.2rem;
}

.map {
	margin-left:18.75rem;
	
}

form {
	font-family: 'Economica', sans-serif;
}

input {
	display:block;
}

label {
	display:block;
}

.button {
	padding-top:12px !important;
	font-size:2rem;
	height:70px;
	width:140px;
	font-family: 'Anton', sans-serif;
	text-transform:uppercase;
	border-style:solid;
	border-color:#B74226;
	border-width:thin;
}

.seas {
	font-size:1.8rem;
}

.body {
	line-height:30px;
}

.right {
	margin:100px 0 0 0;
}

nav {
	position:fixed;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.45);
	width:100%;
}

.blockquote {
	text-transform:uppercase;
	line-height:28px;
	color:#B4B4B4;
	margin-top:-7px;
	padding-right:35px;
}
blockquote {
	margin:0;
}

.flwrcoffee {
	float:right;
}

.roaster {
	margin-top:42px;
}

.spoon {
	margin-top:270px;
	margin-left:-128px;
}

cite {
	text-transform:uppercase;
}

h1 {
	margin-top:16.25em;

}

h2 {
	text-align:center;
	font-size:5.125rem;
	letter-spacing:2.5px;
	word-spacing:15px;
	color:black;
}

footer {
	background-color:rgba(0,0,0,0.45);
}

h3 {
	font-size:2rem;
}

h4 {
	letter-spacing:1px;
	font-size:2rem;
	margin-bottom:0;
	padding-bottom:0 !important;
}

.top {
	margin-top:10px;
}

.bottom {
	margin-bottom:10px;
} 

.text-center {
	text-align:center;
}

.ptop {
	padding-top:0 !important;
}

.tone {
	font-size:1.5rem;
}

.dotted {
	border-color:white;
	border-style:dashed;
}

.center-block {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.center-img {
	display:block;
}

.img-responsive {
	width:100%;
}

.img-responsive-package {
	width:62%;
}

.img-responsive-package-2 {
	width:63%;
}

.img-responsive-package-3 {
	width:61%;
}

.img-responsive-package-4 {
	width:77%;
}

.img-responsive-package-5 {
	width:77%;
}

nav a {
	text-decoration:none;
	color:white;
}

li {
	display:inline-block;
}


#roasts a {
	text-decoration:none;
	color:white;
	border: 1px solid  #B74226;
	padding:10px 32px 10px 32px;
	font-family: 'Anton', sans-serif;
	font-size:1.8rem;
}

#roasts a:hover {
	text-decoration:none;
	border-width:thick;
	border: 4px solid  #B74226;
	font-family: 'Anton', sans-serif;
}

.row {
	width:100%;
	padding-bottom:20px;
}

.blackbg {
	background-color:black;
	padding-top:50px;
}

.blackbg p, .blackbg h1, .blackbg h2, .blackbg h3, .blackbg h4 {
	color:white;
	text-align:center;
	padding:1rem;
}

footer ul {
	padding-top:30px;
}

.row:after {
	content:"";
	display:table;
	clear:both;
}

[class*='col-'] {
	float:left;
	
}

[class*='col-']:last-of-type {
	padding-right:0;
}

.col-1-1 {
	width:100%;
}

.col-8-12 {
	width:80%;
}

.col-1-2 {
	width:50%;
}

.col-1-3 {
	width:33.3333%;
}

.col-1-4 {
	width:25%;	
}

.col-1-5 {
	width:20%;	
}
.col-1-6 {
	width:16.6666%;	
}
.col-1-7 {
	width:14.2857%;	
}
.col-1-8 {
	width:12.5%;	
}
.col-1-9 {
	width:11.1111%;	
}
.col-1-10 {
	width:10%;	
}
.col-1-11 {
	width:9.0909%;	
}
.col-1-12 {
	width:8.3333%;	
}

@media screen and (max-width:768px) {
.wrapper {
	width:95%;
	margin:0 auto;
}
.col-1-1 {
	width:100%;
}
.col-1-2 {
	width:100%;
}

.col-1-3 {
	width:33.33%;
}

.col-1-4 {
	width:50%;	
}

.col-1-5 {
	width:50%;	
}
.col-1-6 {
	width:33.33%;	
}
.col-1-7 {
	width:25%;	
}
.col-1-8 {
	width:25%;	
}
.col-1-9 {
	width:25%;	
}	
.col-1-10 {
	width:25%;	
}
.col-1-11 {
	width:25%;	
}
.col-1-12 {
	width:25%;	
}
}